
.background{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-style: groove;
  width: 100%;
  height: 100%;;
}

.MonsterPlacement{
  display: flex;
  border-style: groove;
  align-items: flex-end;
  width: 100%;
  height: 300px;
  justify-content: space-around;
}

#Monster{
  display: flex;
  border-style: groove; 
  width: 300px;
  height: 250px;
  flex-direction: column;
  align-items: flex-end;
}

.DetailsMonster{
  display: flex;
  border-style: groove;
  justify-content: space-around;
  font-size: large;
  width: 150px;
  height: 60px; 
}

.Characters{
  display: flex;
  justify-content: space-around;
  border-style: groove;
  width: 100%;
  height: 210px;
}

#Hero{
  display: flex;
  flex-direction: column;
  justify-content: space;
  align-items: center;
  border-style: groove;
  font-size: x-large;
  line-height: 50%;
  width: 200px;
  height: 200px;
}

button{
  font-size: 20px
}

.Space{
  height: 200px;
  width: 200px;
}
